In [5]:
import pandas as pd
import numpy as np

In [6]:
df_market = pd.read_csv("Market_Basket_Optimisation.csv")
df_market.head()

,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
0,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,low fat yogurt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df_market.shape

(7500, 20)

In [8]:
df_market.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7500 entries, 0 to 7499
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   shrimp             7500 non-null   object
 1   almonds            5746 non-null   object
 2   avocado            4388 non-null   object
 3   vegetables mix     3344 non-null   object
 4   green grapes       2528 non-null   object
 5   whole weat flour   1863 non-null   object
 6   yams               1368 non-null   object
 7   cottage cheese     980 non-null    object
 8   energy drink       653 non-null    object
 9   tomato juice       394 non-null    object
 10  low fat yogurt     255 non-null    object
 11  green tea          153 non-null    object
 12  honey              86 non-null     object
 13  salad              46 non-null     object
 14  mineral water      24 non-null     object
 15  salmon             7 non-null      object
 16  antioxydant juice  3 non-null      object
 17  frozen smoothie    3 non-null      object
 18  spinach            2 non-null      object
 19  olive oil          0 non-null      float64
dtypes: float64(1), object(19)
memory usage: 1.1+ MB

In [9]:
df_market.fillna("",inplace=True)
df_market.isna().sum()

C:\Users\ARUN\AppData\Local\Temp\ipykernel_17948\751076440.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_market.fillna("",inplace=True)

shrimp               0
almonds              0
avocado              0
vegetables mix       0
green grapes         0
whole weat flour     0
yams                 0
cottage cheese       0
energy drink         0
tomato juice         0
low fat yogurt       0
green tea            0
honey                0
salad                0
mineral water        0
salmon               0
antioxydant juice    0
frozen smoothie      0
spinach              0
olive oil            0
dtype: int64

In [10]:
df_market.head(10)

,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
0,burgers,meatballs,eggs,,,,,,,,,,,,,,,,,
1,chutney,,,,,,,,,,,,,,,,,,,
2,turkey,avocado,,,,,,,,,,,,,,,,,,
3,mineral water,milk,energy bar,whole wheat rice,green tea,,,,,,,,,,,,,,,
4,low fat yogurt,,,,,,,,,,,,,,,,,,,
5,whole wheat pasta,french fries,,,,,,,,,,,,,,,,,,
6,soup,light cream,shallot,,,,,,,,,,,,,,,,,
7,frozen vegetables,spaghetti,green tea,,,,,,,,,,,,,,,,,
8,french fries,,,,,,,,,,,,,,,,,,,
9,eggs,pet food,,,,,,,,,,,,,,,,,,

In [11]:
df_market = df_market.map(lambda x: None if pd.isna(x) or x == "" else x)

transactions = df_market.apply(lambda row: [item for item in row.dropna()], axis=1)

transactions = transactions[transactions.apply(len) > 0]

print(transactions.head())

0                           [burgers, meatballs, eggs]
1                                            [chutney]
2                                    [turkey, avocado]
3    [mineral water, milk, energy bar, whole wheat ...
4                                     [low fat yogurt]
dtype: object

In [12]:
from mlxtend.preprocessing import TransactionEncoder

# Convert transaction list to one-hot encoding format
te = TransactionEncoder()
te_ary = te.fit(transactions).transform(transactions)

# Create a DataFrame from the encoded array
basket = pd.DataFrame(te_ary, columns=te.columns_)

basket.head()

,asparagus,almonds,antioxydant juice,asparagus,avocado,babies food,bacon,barbecue sauce,black tea,blueberries,...,turkey,vegetables mix,water spray,white wine,whole weat flour,whole wheat pasta,whole wheat rice,yams,yogurt cake,zucchini
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,True,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [13]:
from mlxtend.frequent_patterns import fpgrowth

# Find frequent itemsets with minimum support of 2%
frequent_itemsets = fpgrowth(basket, min_support=0.02, use_colnames=True)

# Display frequent itemsets
frequent_itemsets.head(10)

    support            itemsets
0  0.179733              (eggs)
1  0.087200           (burgers)
2  0.020933         (meatballs)
3  0.062533            (turkey)
4  0.033200           (avocado)
5  0.238267     (mineral water)
6  0.132000         (green tea)
7  0.129600              (milk)
8  0.058533  (whole wheat rice)
9  0.027067        (energy bar)

In [14]:
from mlxtend.frequent_patterns import association_rules

# Generate association rules using lift as the metric
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1)

# Display association rules
rules.head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,representativity,leverage,conviction,zhangs_metric,jaccard,certainty,kulczynski
0,(eggs),(mineral water),0.179733,0.238267,0.050933,0.283383,1.189351,1.0,0.008109,1.062957,0.194090,0.138758,0.059228,0.248574
1,(mineral water),(eggs),0.238267,0.179733,0.050933,0.213766,1.189351,1.0,0.008109,1.043286,0.209004,0.138758,0.041490,0.248574
2,(eggs),(burgers),0.179733,0.087200,0.028800,0.160237,1.837585,1.0,0.013127,1.086974,0.555682,0.120941,0.080015,0.245256
3,(burgers),(eggs),0.087200,0.179733,0.028800,0.330275,1.837585,1.0,0.013127,1.224782,0.499351,0.120941,0.183528,0.245256
4,(mineral water),(burgers),0.238267,0.087200,0.024400,0.102406,1.174384,1.0,0.003623,1.016941,0.194936,0.081045,0.016659,0.191111

In [16]:
rules.shape

(96, 14)

In [13]:
# Filter for strong association rules
strong_rules = rules[(rules['confidence'] >= 0.6) & (rules['lift'] >= 1.5)]

# Display the strongest rules
strong_rules.head()

Empty DataFrame
Columns: [antecedents, consequents, antecedent support, consequent support, support, confidence, lift, representativity, leverage, conviction, zhangs_metric, jaccard, certainty, kulczynski]
Index: []